{% extends "base.html" %}
{% block title %}
  {% if mode == 'add' %}
    Додати книгу
  {% elif mode == 'edit' %}
    Редагувати книгу
  {% elif mode == 'view' %}
    Перегляд книги
  {% elif mode == 'delete' %}
    Видалити книгу
  {% endif %}
{% endblock %}

{% block content %}
<h2>
  {% if mode == 'add' %}
    Додати книгу
  {% elif mode == 'edit' %}
    Редагувати книгу
  {% elif mode == 'view' %}
    Перегляд книги
  {% elif mode == 'delete' %}
    Видалити книгу
  {% endif %}
</h2>
<form method="post">
  <label>Назва:</label><br>
  <input type="text" name="title" required><br><br>
  
  <label>Опис:</label><br>
  <textarea name="description" rows="4" cols="40"></textarea><br><br>
  
  <label>Ціна:</label><br>
  <input type="number" step="1" name="price" required><br><br>
   <label>Об'єм / Кількість (л, мл, г):</label><br>
<input type="text" name="quantity" placeholder="Об'єм / Кількість"><br><br>


  <label>Категорія:</label><br>
  <select name="category" required>
    <option value="">-- Оберіть категорію --</option>
    <option value="Безалкогольні напої">Безалкогольні напої</option>
    <option value="Алкогольні напої">Алкогольні напої</option>
    <option value="Піци">Піци</option>
    <option value="Закуски">Закуски</option>
    <option value="Пасти">Пасти</option>
    <option value="Десерти">Десерти</option>
  </select><br><br>

  {% if mode == 'add' %}
    <button type="submit">Додати</button>
  {% elif mode == 'edit' %}
    <button type="submit" name="mode" value="edit">Оновити</button>
  {% elif mode == 'delete' %}
    <button type="submit" name="mode" value="delete" onclick="return confirm('Ви дійсно хочете видалити книгу?');">Видалити</button>
  {% endif %}
 

</form>
{% endblock %}

